{%extends "base.html"%}
{%block content%}

    <h2>{{site_title}}</h2>
    <p>
        A cuisine is a style of cooking characterized by distinctive ingredients, techniques and dishes, and usually
        associated with a specific culture or geographic region. Regional food preparation traditions, customs and
        ingredients often combine to create dishes unique to a particular region.

        A cuisine is primarily influenced by the ingredients that are available locally or through trade, they can even be
        made into distinct ingredients themselves when they become popular within a region, take for example Japanese rice
        in Japanese cuisine and New Mexico chile in New Mexican cuisine.
    </p>

    {% for local in cuisine %}

    <div class="row futerrete">

        { if loop.index % 2 != 0%}

    <div class="col-md-7">
    <h3> {{ loop.index }}. {{ local.cuisine }}</h3>
    <p>
       {{ cuisine.description }}

      
    </p>
    <div class="col-md-5">
        <img src="{{cuisine.image_source}}" alt="" class="futerrete-image image-responsive">
    </div>
    {% endif %}
    </div>
{% if loop.index != loop.length }

    <hr class="featurette-divider">

{% endif %}

{% endfor %}


{%endblock%}