{% extends 'base.html %} {% block content %}
<!--Adding the Recipe-->
<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="col-12">
            <div class="mx-auto text-center">
                <h1 class="mx-auto my-0 text-uppercase">
                    Create a New Recipe
                </h1>
                <h2 class="text-grey-50 mx-auto mt-2 mb-5">
                    Use the form below to create a new recipe.
                </h2>
            </div>
        </div>
    </div>
</header>