{% extends 'base.html %} {% block content %}
<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="col-12">
            <div class="mx-auto text-center">
                <h1 class="mx-auto my-0 text-uppercase">
                    {{ recipe.recipe_name }}
                </h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">
                    Information about this recipe you will find it bellow.
                </h2>
                <a class="btn btn-success js-scroll-trigger" href="#recipe-information">Recipe Information</a>
            </div>
        </div>
    </div>
</header>
<section id="recipe">
    <div class="container">
        <div class="row bg-black">
            <div class="col-5 text-center p-0 my-auto" id="recipe-information">
                <img src="{{recipe.img_url}}" class="img-fluid img-fit" alt="#">
            </div>
        </div>
            <div class="col-7 my-auto pl-0">
                <div class="recipe-heading d-flex align-items-center">
                    <h2 class="text-grey d-none d-lg-block text-capitalize mx-auto">
                        {{ recipe.recipe_name }}
                    </h2>
                    <h4 class="text-grey d-block d-lg-block text-capitalize mx-auto">
                        {{ recipe.recipe_name }}
                    </h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-5 text-center pt-5 pb-5 bg-light">
                <h3 class="text-capitalize">Ingredients</h3>
                {% for ing in ingredients %}
                <ul class="ingredients-list--style text-left mt-4">
                    <li>{{ing[0]}} {{ing[1]}} {{ing[2]}}</li>
                </ul>
                {% endfor %}
            </div>
            <div class="col-12 col-sm-7 text-center bg-cultured pt-5 pb-5">
                <h3 class="text-capitalize">Steps</h3>
                {% for step in recipe.step_description %}
                <ul class="ingredients-list--style text-left mt-4">
                    <li>{{loop.index}}. {{ step }}</li>
                </ul>
                {% endfor %}
            </div>
            </div>
</section>
{% endblock %}