{% extends 'base.html' %} {% block content %}
<h4 class="center-align register-heading">Register</h4>
<div class="row register-form">
    <form class="col s12 m8 offset m2" method="POST" action="{{ url_for('register') }}">
        <div class="card-panel">
            <!--username-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="prefix light-grey-text tyext-darken-4"></i>
                    <input id="username" name="username" type="text" minlength="5"
                    maxlength="20" pattern="^[a-zA-Z0-9]{5,20}$" class="validate" required>
                    <label for="username"><i class="material-icons">person</i></label>
                </div>
            </div>
            <!--password-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="prefix light-grey-text text-darken-4"></i>
                    <input id="password" name="password" type="password" minlength="5"
                    maxlength="20" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                    title="Must contain at one number one uppercase and lowercase letter, and 8 or more characters"
                    class="validate" required >
                    <label class="password"><i class="material-icons">fingerprint</i>Password</label>
                </div>
            </div>
           <!--register-->
            <div class="row">
             <button type="submit" class="col s12 btn-large lightblue lighten-1 text-shadow action-btn">
                 Register<i class="fas fa-sign in-alt"></i>
             </button>
            </div>
        </div>
    </form>
</div>
<!--Login paige-->
<div class="row">
    <div class="col s12">
    <div class="center-align generic-text">
        <p>Already Have an Account?<a href="{{ url_for('log_in') }}" class="flash">Login Here</a></p>
    </div>
</div>
</div>
{% endblock %}