{% extends 'base.html'%}
{% block content %}
<!--Card Results-->
<section class="container info-text">
    <div class="row center-align">
        <div class="col s12 m6">
            <h2>Search Results</h2>
            <a href="{{url_for('recipe')}}" class="waves-efect wawes-light btn search-btn">Search Here</a>
        </div>
    </div>
</section>

<!--Result List-->
<section class="card mb-3 recipe-card">
    <ul class="">
        {% for recipe in recipe %}
        <li>
            <div class="row collapsible-header">
                <div class="col s12 m6">
                    {% if recipe.image_url %}
                    <img src="{{recipe.img_url}}" class="rounded recipe-img" alt="Img of Recipe">
                    {% else %}
                    <img src="{{url_for('static', filename='img/default-img.jpg')}}" class="rounded recipe-img"
                        alt="default-img of chef" />
                    {% endif %}
                </div>
                <div class="col s12 m7">
                    <h5><i class="material-icons">dine_local</i>{{recipe.recipe_name}}</h5>
                    {{ recipe.cuisine_type }}
                    <p><em>Description: {{recipe.recipe_description}}</em></p>
                    <p><em>By: {{recipe.created_by}}</em></p>
                    <p><em>Date: {{recipe.posted_date}}</em></p>
                </div>
                <div class="col s12 m2 left-align btn-links">
                    <a href="{{ url_for('view_search_result', recipe_id=recipe._id)}}"
                        class="waves-effect wasves-light btn">View Recipe</a>
              
                </div>
            </div>
              {% endfor %}
        </li>
        <!--Render this, if no recipe-->
        {% if recipesName == 0 %} {% if ingridientsName == 0 %}
        <section class="container">
            <div class="row center-align">
                <div class="col s12 m6 find_recipe_col no_results">
                    <h3 class="generic-text">No Recipes found!</h3>
                    <p>Try Again</p>
                    <a href="{{url_for('recipe')}}"
                    class="waves-efect waves-light btn view-btn search-btn">Find a Recipe>

                    {% if session.user %}
                    <p>You can add your own</p>
                    </a>
                    <a href="{{url_for('add_recipe')}}"
                    class="waves-efect wasves-light btn view-btn search-btn">Add your own recipe</a>
                    {% endif %}
                </div>
            </div>
        </section>
        {% endif %}
        {% endif %}
</section>
{% endblock %}